* {
	box-sizing: border-box;
	font-family: sans-serif;
}
body {
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin: 0;
	height: 100vh;
	padding: 0;
}

/* ? Estilos de la animación FadeIn General, para hacerla mas rápida */
.animate__animated.animate__fadeIn {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.card-img-top {
	min-height: 200px; /* Ajusta esto al valor mínimo deseado */
}
